*.min.css
*.min.js

/*
!.gitignore
wp-content/*
!wp-content/

wp-content/themes/*
!wp-content/themes/
!wp-content/themes/my-child-theme/

wp-content/plugins/*
!wp-content/plugins/

!wp-content/plugins/my-plugin/
wp-content/plugins/my-plugin/vendor